@import "../../vars.css";

.container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg,var(--color-secondary) 70%,var(--color-bg) 100%);
  max-width: 350px;
  padding: 20px;
}

.title{
  font-family: var(--font-arial);
  font-size: 25px;
  font-weight: 700;
}

.image{
  margin: 10px auto;
  width: 80%;
}

.description{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.tools{
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.tool{
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  background: var(--color-bg);
  padding: 5px 20px;
}

.links{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.link{
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 10px 20px;
  transition: transform 0.3s ease;
}

.link:hover{
  color: var(--color-bg);
  background-color: var(--color-text);
  transform: scale(1.2);
  box-shadow: 0 0 5px var(--color-dark);
}