@import "../../vars.css";

.navbar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;

}

.title{
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-text);
}

.menu{
  display: flex;
}

.menuItems{
  display: flex;
  gap: 40px;
  list-style: none;
}

.menuItems a{
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 25px;
}

.menuBtn{
  height: 30px;
}

@media screen and (max-width: 830px){
  .navbar{
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu{
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 3;
  }

  .menuBtn{
    display: block;
    cursor: pointer;
  }

  .menuItems{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgba(199, 54, 199,0.9);
    padding: 24px 33px;
  }

  .menuOpen{
    display: flex;
    z-index: 1;
  }
}