@import "../../vars.css";

.container{
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.title{
  font-family: var(--font-arial);
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content{
  margin-top: 15px;
}

.jobs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.job{
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 20px;
  padding: 30px;
  background: linear-gradient(90deg,var(--color-bg)35%,var(--color-dark) 100%);
}

.job img{
  max-height: 150px;
}
.jobItemText{
  width: 80%;
}

.jobItemText h3{
  font-family: var(--font-arial);
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0;
}

.jobItemText ul{
  font-size: 20px;
  list-style-position: inside;
  list-style-type: disc;
  padding: 0;
  
}
.jobItemText ul li {
  text-indent: -26px;
  margin-top: 10px;
}

@media screen and (max-width: 830px){
  .jobs{
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .job{
    width: 100%;
  }
}