:root{
  /*colours*/
  --color-text : rgb(255, 255, 255);
  --color-primary: #41272d;
  --color-secondary: #3f1f22;
  --color-dark: #484149;
  --color-bg: #252627;
  /* fonts */
  --font-roboto: "Roboto";
  --font-arial: "Arial";
}